/* BREAKPOINTS */

@media (max-width: 1800px) {
    html {
        font-size: 50%;
    }

    .home {
        min-height: 90vh;
    }

    .home-sci {
        margin-top: 5rem;
    } 

    .home-color #color-btn-1 {
        width: 40px;
        height: 40px;
    }
    
    .home-color #color-btn-2 {
        width: 40px;
        height: 40px;
    }
    
    .home-color #color-btn-3 {
        width: 40px;
        height: 40px;
    }
    
    .home-color #color-btn-4 {
        width: 40px;
        height: 40px;
    } 
    
    .home-color #color-btn-5 {
        width: 40px;
        height: 40px;
    }

    .home-img {
        width: 550px;
        height: 550px;
        background-size: 425px;
    }
    
    .home-img:hover {
        background-size: 425px;
    }

    .project-resume .project-link {
        width: 180px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 62.5%;
    }

    section {
        padding: 5rem 2% 1rem;
    }
}

@media (max-width: 991px) {
    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .home {
        padding: 0 4%;
    }

    .about .about-main {
        margin-top: 0;
        gap: 0;
        flex-direction: column;
    }

    .about-img {
        margin: 0;
    }

    .about-content h3 {
        text-align: center;
    }

    .about-content p {
        text-align: center;
    }

    .project-container .project-box,
    .project-container .project-box:nth-child(2n) {
        flex-direction: column-reverse;
        height: auto;
        padding: 0;
    }

    .project-box .project-resume {
        height: 400px;
    }

    .project-box .project-view {
        height: 220px;
        padding: 1rem;
    }

    .project-box .project-img {
        height: 100%;
    }

    .project-img table td {
        font-size: 1.8rem;
    }
    
    .project-img table td i {
        font-size: 5.2rem;
    }

    .project-view .project-tools {
        width: 0;
        height: 0;
    }

    .project-tools i {
        font-size: 0;
    }

    .project-resume .project-link {
        position: static;
        width: 175px;
        bottom: 20px;
    }

    .project-box:nth-child(2n) .project-link {
        right: 0;
        position: static;
        width: 175px;
        bottom: 20px;
        flex-direction: row-reverse;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media (max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navigation {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        z-index: 1;
        transition: .25s ease;
        transition-delay: .25s;
    }

    .navigation.active {
        left: 0;
        transition-delay: 0s;
    }

    .navigation .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }
    
    .navigation.active .active-nav {
        left: 0;
        transition-delay: .25s;
    }

    .navigation a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navigation.active a {
        transform: translateX(0);
        transition-delay: .25s;        
    }

    .navigation a::after {
        background: transparent;
    }
    
    .navigation a.active::after {
        background: transparent;
    }
}

@media (max-width: 520px) {
    html {
        font-size: 50%;
    }

    .home {
        min-height: 100vh;
    }

    .home-content h1 {
        display: flex;
        flex-direction: column;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }

    .home-img {
        width: 0;
        height: 0;
    }

    .about img {
        top: 0;
        width: 70vw;
    }

    .about .about-content {
        width: auto;
    }

    .about .about-citations {
        margin-top: 0;
    }

    .skills-container .card {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 462px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: 1;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .project-temple {
        width: 500px;
        height: 700px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .project-resume {
        width: 0;
        height: 0;
        flex-direction: column-reverse;
    }

    .project-view {
        width: 450px;
        height: 200px;
        background: transparent;
        margin-top: 0;
    }

    .contact form .input-box .input-field {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}
