@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    transition: 0.6s;
}

header.sticky {
    padding: 5px 100px;
    background: #294d61;
}

header.sticky a {
    color: aliceblue;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    color: aliceblue;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: aliceblue;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.logo {
    position: relative;
    font-weight: 700;
    color: aliceblue;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.contact {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 217, 1);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 217, 1);
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.contact:hover {
    background: rgb(255, 217, 1);
    color: aliceblue;
}

.banner {
    position: relative;
    width: 100%;
    height: 100%;
}

.background {
    position: relative;
    width: 100%;
}

.intro {
    position: absolute;
    top: 30%;
    left: 20%;
}

.welcome {
    margin-right: 0;
    border: 2px solid orange;
    border-radius: 6px;
    width: 400px;
    padding: 40px;
    outline: none;
    color: rgb(0, 0, 0);
}

.my-work-button {
    margin-top: 10%;
    margin-left: 80%;
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 217, 1);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 217, 1);
    font-weight: 500;
    transition: .5s;
}

.my-work-button:hover {
    background: rgb(255, 217, 1);
    color: aliceblue;
}

.sec {
    font-size: 2rem;
    padding: 2rem;
    background-color: #162938;
    color: aliceblue;
}
