@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: var(--second-bg-color);
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.logo span {
    color: var(--second-bg-color);
    font-size: 3rem;
}

.navigation a {
    position: relative;
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 3.5rem;
}

.navigation a.active {
    color: var(--second-bg-color);
}

.navigation a.to-up {
    width: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--text-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: var(--second-bg-color);
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a.to-up::after {
    background: transparent;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    transition: 0.6s;
}

.home {
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 9%;
    background: var(--bg-color);
}

.home-content {
    max-width: 60rem;
    z-index: 99;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--second-bg-color);
}

.home-content p {
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 50px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--second-bg-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--second-bg-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--second-bg-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.home-sci {
    position: relative;
    margin-top: 10rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--second-bg-color);
    border-radius: 20%;
    font-size: 20px;
    color: var(--second-bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before {
    width: 100%;
}

.home-color {
    margin-top: 5rem;
    width: 30rem;
    height: 7rem;
    background: #e9ecef;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}

.home-color #color-btn-1 {
    width: 50px;
    height: 50px;
    background: #52796f;
    border-radius: 5px;
    transition: .2s;
}

.home-color #color-btn-1:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-color #color-btn-1:active {
    transform: scale(0.7);
}

.home-color #color-btn-2 {
    width: 50px;
    height: 50px;
    background: #1f487e;
    border-radius: 5px;
    transition: .2s;
}

.home-color #color-btn-2:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-color #color-btn-2:active {
    transform: scale(0.7);
}

.home-color #color-btn-3 {
    width: 50px;
    height: 50px;
    background: #7f5539;
    border-radius: 5px;
    transition: .2s;
}

.home-color #color-btn-3:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-color #color-btn-3:active {
    transform: scale(0.7);
}

.home-color #color-btn-4 {
    width: 50px;
    height: 50px;
    background: #f8f9fa;
    border-radius: 5px;
    transition: .2s;
}

.home-color #color-btn-4:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-color #color-btn-4:active {
    transform: scale(0.7);
}

.home-color #color-btn-5 {
    width: 50px;
    height: 50px;
    background: #23272a;
    border-radius: 5px;
    transition: .2s;
}

.home-color #color-btn-5:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.home-color #color-btn-5:active {
    transform: scale(0.7);
}

.home-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 700px;
    background: url("../images/portrait_vert-clair.png") no-repeat;
    background-size: 525px;
    background-position: center;
    transition: 2s;
}

.home-img:hover {
    background: url("../images/portrait_vert-fonce.png") no-repeat;
    background-size: 525px;
    background-position: center;
}

.about {
    min-height: 60vh;
    padding: 10rem 9% 2rem;
    background: var(--bg-color_2);
}

.about-main {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.about-img {
    margin-left: 75px;
}

.about-img img {
    width: 20vw;
    border-radius: 50%;
    border: .2rem solid var(--second-bg-color);
}

.heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 30rem;
    gap: 2rem;
    padding: 3rem 2rem 4rem;
}

.about-content h2 {
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.8rem;
    line-height: 3.5rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}

.skills {
    min-height: 60vh;
}

.skills-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.skills-container .skill-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 30rem;
    gap: 5rem;
    background: var(--bg-color_2);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--bg-color_2);
    transition: .5s ease;
}

.skills-container .skill-box:hover {
    border-color: var(--second-bg-color);
}

.skill-box .icon-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--second-bg-color);
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
}

.skill-box i {
    font-size: 7rem;
    color: var(--text-color);
}

.skill-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}

.skill-box h3 {
    font-size: 2.6rem;
}

.skills-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color_2);
    transition: .5s;
}

.skills-btn:hover {
    cursor: pointer;
    background: var(--bg-color_2);
    color: var(--second-bg-color);
}

#ch-1 {
    display: none;
}

#ch-1:checked ~ .skill-content {
    display: block;
}

#ch-1:checked ~ label {
    display: none;
}

#ch-2 {
    display: none;
}

#ch-2:checked ~ .skill-content {
    display: block;
}

#ch-2:checked ~ label {
    display: none;
}

#ch-3 {
    display: none;
}

#ch-3:checked ~ .skill-content {
    display: block;
}

#ch-3:checked ~ label {
    display: none;
}

.skill-box .skill-content {
    display: none;
}

.projects {
    min-height: auto;
    background: var(--bg-color);
}

.project-container {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

.project-container .project-box {
    width: 100%;
    height: 60em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 3rem 2rem 4rem;
    background: var(--bg-color);
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
    border: .2rem solid var(--bg-color);
}

.project-container .project-box:nth-child(2n) {
    flex-direction: row-reverse;
}

.project-box .project-resume {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 3rem 2rem 4rem;
}

.project-resume h3 {
    font-size: 3.3rem;
}

.project-resume p {
    width: 100%;
    font-size: 1.8rem;
    line-height: 3.5rem;
    margin: 1rem 0 3rem;
    text-align: justify;
}

.project-box .project-link {
    position: absolute;
    bottom: 0;
    width: 220px;
    display: flex;
    justify-content: space-between;
}

.project-box:nth-child(2n) .project-link {
    right: 18px;
}

.project-link .project-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 5rem;
    background: var(--second-bg-color);
    border-radius: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    transition: .3s;
}

.project-link i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--second-bg-color);
    border-radius: 25px;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    transition: .8s;
}

.project-btn:hover {
    transform: scale(1.1);
}

.project-link i:hover {
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    transform: scale(1.1) rotate(-360deg);
}

.project-box .project-view {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 2rem 2rem 3rem;
    background: var(--bg-color_2);
    border-radius: 10px;
}

.project-view .project-img {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.project-img img {
    width: 100%;
    border-radius: 10px;
}

.project-view .project-img-1 {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.project-img-1 table {
    width: 100%;
    height: 100%;
    border-spacing: 10px;
}

.project-img-1 table td {
    width: 50%;
    height: 50%;
    text-align: center;
    font-size: 2rem;
    border: 2px solid var(--bg-color);
    border-radius: 10px;
    background: var(--bg-color);
    transition: .5s ease;
}

.project-img-1 table td:hover {
    border-color: var(--second-bg-color);
}

.project-img-1 table td i {
    font-size: 6rem;
}

.project-view .project-tools {
    position: absolute;
    display: flex;
    left: 20px;
    justify-content: space-between;
    align-items: center;
    right: 20px;
    bottom: 50px;
    width: 17rem;
    height: 5rem;
    font-size: 5rem;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.input-box .input-field {
    width: 49%;
    margin: .8rem 0;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid var(--second-bg-color);
    outline: none;
    border-radius: 6px;
    color: var(--text-color);
    margin: 6px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: var(--second-bg-color);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

.contact form .textarea-field .item {
    resize: none;
}

.contact form .textarea-field .error-txt {
    margin-top: -10px;
}

.contact form .btn-box {
    width: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.my-swal-container {
    zoom: 1.8;
}

/*Footer Design*/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--second-bg-color);
    border: .2rem solid var(--second-bg-color);
    border-radius: .6rem;
    z-index: 1;
    overflow: hidden;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: .5s;
}

.footer-iconTop a:hover i {
    color: var(--second-bg-color);
}
