@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    /*background: #52796f;*/
    color: #fefae0 ;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #52796f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.6s;
}

header.sticky {
    padding: 10px 10%;
    background: #52796f;
    box-shadow: 6px 6px 25px rgba(209, 209, 209, 0.5);
}

header.sticky a {
    color: white;
}

.logo {
    width: 40px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: .5s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.navigation a {
    position: relative;
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navigation a.active {
    color: #ffb703;
}

.navigation a.to-up {
    width: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #ffb703;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a.to-up::after {
    background: transparent;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.contact {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #2D9596;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.1em;
    color: #2D9596;
    font-weight: 500;
    margin-left: 80px;
    transition: .5s;
}

.contact:hover {
    background: #2D9596;
    color: aliceblue;
}

.first-section {
    background: #52796f;
    height: 100vh;
    display: flex;

    align-items: center;
    padding: 0 10%;
}

.home-content {
    background: transparent;
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ffb703;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffb703;
    border: 2px solid #ffb703;
    border-radius: 50px;
    font-size: 19px;
    color: #52796f;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #ffb703;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ffb703;
}

.btn-box a:nth-child(2)::before {
    background: #ffb703;
}

.btn-box a:nth-child(2):hover {
    color: #52796f;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #52796f;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.link {
    position: absolute;
    bottom: 100px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.link a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #ffb703;
    border-radius: 20%;
    font-size: 20px;
    color: #ffb703;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.link a:hover {
    color: #52796f;
}

.link a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #ffb703;
    z-index: -1;
    transition: .5s;
}

.link a:hover::before {
    width: 100%;
}

.portrait {
    max-width: 50%;
    top: 200px;
}

.portrait img {
    width : 80%;
    margin-left: 40%;
}
